.topnav{
    background-image: linear-gradient(#8EDDFF,#41B5FF);
    overflow: hidden;
    padding: 10px;
    word-spacing: 40px;
  }
.topnav a{
  text-decoration: none;
  font-size: 1.5em;
}
  .search{
    position: absolute;
    right: 10px
  }
  
body{
    background-image: url(cloudsky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
  
.login{
    background-color: #8EB2FF;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 12.5%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 1em;
    color: #000099
  }
  
.homefeed{
    margin-left: 100px;
    height: 1000px;
    width: 500px;
    left: 25px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: white;
    
}
.pfp{
    float: left;
}
  
.post{
    margin: 10px;
}

#postDate{
    color: blue;
}