.topnav{
    background-image: linear-gradient(#ddffff,#67eeff);
    overflow: hidden;
    padding: 5px;
    word-spacing: 40px;
  }
  
  .search{
    position: absolute;
    right: 10px
  }
  
  body{
    background-image: url(cloudsky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login{
    background-color: #6767ff;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1em;
    color: #000099
  }
  
  .homefeed{
    margin: 10px;
    height: 1000px;
    width: 500px;
    left: 25px;
  
    padding-left: 10px;
    background-color: white;
    
  }
  .pfp{
    float: left;
  }
  
  .post{
    margin: 10px;
  }

  #postDate{
    color: blue;
  }